<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="printToConsole" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c - %m%n"/>
        </layout>
    </appender>

    <appender name="logToTileTXT" class="org.apache.log4j.FileAppender">
        <param name="file" value="./testScriptLogs/NopCommerce.txt"/>
        <param name="append" value="false"/>
        <param name="maxFileSize" value="10MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c - %m%n"/>
        </layout>
    </appender>

    <appender name="logToFileLOG" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="./testScriptLogs/NopCommerce.log"/>
        <param name="append" value="true"/>
        <param name="maxFileSize" value="10MB"/>
        <!--        Luu lai 10 lan chay gan nhat-->
        <param name="maxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c - %m%n"/>
        </layout>
    </appender>

<!--    Show log trong TestNG Report-->
    <appender name="logToTestngReport" class="reportConfig.TestNGAppender">
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c - %m%n"/>
        </layout>
    </appender>

    <category name="testcases">
        <priority value="all"/>
        <appender-ref ref="printToConsole"/>
        <appender-ref ref="logToTileTXT"/>
        <appender-ref ref="logToFileLOG"/>
        <appender-ref ref="logToTestngReport"/>
    </category>
    <category name="reportConfig.ReportNGListener">
        <priority value="all"/>
        <appender-ref ref="printToConsole"/>
        <appender-ref ref="logToTileTXT"/>
        <appender-ref ref="logToFileLOG"/>
        <appender-ref ref="logToTestngReport"/>
    </category>


    <root>
        <priority value="warn"/>
    </root>

</log4j:configuration>